{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    Thank you for participating in this experiment. Please now turn off your cell phone and do not communicate with other participants. You will remain anonymous to each other in this experiment. If you have any questions, please raise your hand; an experimenter will come and answer your question. Please pay careful attention to the instructions as real money is at stake.

    {% next_button %}

{% endblock %}
