{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question ({{ group.round_number }} of {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <p>
        {{ questiontext}}
    </p>
    <p>
        {% formfield player.answer with label="" %}
    </p>
    <p>
        How Confident Are You About Your Answers (1 - completely unconfident; 7 - completely confident)
        <br>
        {% formfield player.confidence with label="" %}
     </p>
    {% next_button %}

{% endblock %}
