{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pre-Survey Questions Results
{% endblock %}

{% block content %}
    <p>
        Of all {{num_demo_participants}} participants of this study, {{male_count}} are male, {{female_count}} are female, {{other_count}} identify as other and {{dna_count}} prefer not to say.
    </p>
    <p>
        The median age of all {{num_demo_participants}} participants is {{ age_median }}
    </p>
    {% next_button %}

{% endblock %}
