{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Assessment Instructions
{% endblock %}

{% block content %}
In this stage you will be asked another series of five questions about financial literacy.
These are standard questions designed to test your knowledge of concepts related to personal finance.
You will be compensated for each question you answer correctly.
No points will be deducted for incorrect answers, so try to answer every question.
After each question, you will be asked to rate on a scale of one to seven how confident you are that your answer was correct, with 1 indicating totally unsure, and seven indicating absolutely sure.

    {% next_button %}

{% endblock %}
