{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Investment Game II Instructions
{% endblock %}

{% block content %}
In this stage, you will be asked to allocate your compensation from skill assessment 2 (you will do this assessment at the end of the session, and you will get $1 per correct answer) between two accounts, Account A and Account B.  Account A will pay you $1 for every $1 that you allocate to it, with probability 1.
Account B is a risky account, which pays out differently depending on whether you are in the top half or bottom half of their group.
If you are in the top half of the group, then Account B has a chance of paying $3 for every $1 allocated to it with
probability p, but a chance of paying $1 with probability 1-p.
If they are in the bottom half, then Account B has a chance of paying $1 for every $1 allocated to it with probability p,
but a chance of paying $1 with probability 1-p.
 <br \>
You will be told the probability of Account B paying $3 per $1 on the computer screen before making your decision.
There will be a series of these decisions to make with different probabilities of paying $3 and you can allocate between
the accounts differently in each case.  You should consider each of these decisions carefully as one will be selected at
random to determine your final payment.
    {% next_button %}

{% endblock %}
